{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icono.ico'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{% static 'admin/front/indexLogin.css'%}">
</head>
<body>
    <div class="icon">
        <img src="{% static 'img/icono.png'%}" alt="SRAB">
    </div>
    <div class="login-container">
        <h2>Inicio de sesión</h2>
        <form method="POST">{% csrf_token %}
            <div class="input-group">
                <div class="icon-container">
                    <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="Icono de usuario">
                </div>
                <input type="text" name="username" placeholder="Usuario" required>
            </div>
            <div class="input-group">
                <div class="icon-container">
                    <img src="https://cdn-icons-png.flaticon.com/512/565/565655.png" alt="Icono de candado">
                </div>
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <input type="submit" class="btn-login">
        </form>
    </div>
</body>
</html>
