{% load static %}
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icono.ico'%}">
    <title>PROTOTIPO BUSCADOR DE CÉDULAS</title>
    <meta name="description" content="Buscador de cédulas prototipo UdeC">
    <link rel="stylesheet" type="text/css" href="{% static 'ID/img/style.css'%}">
    <style>
        .egresado{
                visibility: active;
            }
            .egresado.active{
                visibility: hidden;
            }
    </style>
</head>
<body>
    <div class="srab_logo"><img src="{% static 'img/icono.png'%}" alt="nothing" width="100px"></div>
    <div class="welcome">
        <header>
            <h2>Rellene los siguiente campos</h2>
        </header>
    </div>
    
    <div class="id_searcher" style="position: relative; top: -200px;">
        <div class="form-id-type">
            <label><b>Tipo de identificación *</b></label><br>
            <select id="TipoID" name="TipoID">
                <option value = "-1">Seleccione un tipo de documento...</option>
                <option value = "1">Cédula de Ciudadanía</option>
                <option value = "2">Tarjeta de Identidad</option>
                <option value = "3">Cédula de Extranjería</option>
                <option value = "4">DNI</option>
                <option value = "5">Salvoconducto para refugiado</option>
                <option value = "6">Permiso Especial de Permanencia</option>
                <option value = "7">Permiso Por Protección Temporal</option>
            </select>
        </div>
        <div class="form-id-number">
            <form method="POST">{% csrf_token %}
                    <label><b>Número del documento *</b></label><br>
                    <input type="text" name="entrada" placeholder="Número de identificación"></br></br>
                    <input type="submit" value="Subir" style="padding: 1rem;
                    font-weight: 400;
                    background-color: #a0e66c;
                    border-radius: 2rem;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    font-size: 1rem;
                    margin-top: 2rem;
                    transition: all .3s ease-in;
                    color: #fff;">
            </form>
        </div>
    </div>
    <center>
    <div class="egresado" style="position: relative; top: -200px;">
            {% if id == '1' %}
            <img src="{% static 'img/gente/001.jpg' %}" width="250" ><br>
            {% endif %}
            {% if id == '2' %}
            <img src="{% static 'img/gente/002.jpg' %}" width="250" ><br>
            {% endif %}
            {% if id == '3' %}
            <img src="{% static 'img/gente/003M.jpg' %}" width="250" ><br>
            {% endif %}
            {% if id == '4' %}
            <img src="{% static 'img/gente/004.jpg' %}" width="250" ><br>
            {% endif %}
            {% if id == '5' %}
            <img src="{% static 'img/gente/005.jpg' %}" width="250" ><br>
            {% endif %}
            {% if id == '6' %}
            <img src="{% static 'img/gente/009.png' %}" width="250" ><br>
            {% endif %}
        <p id="uno">Nombre:{{Nombre}} </p>
        <!--<p>Apellido:{{Apellido}} </p>!-->
        <p>Carrera:{{Carrera}} </p>
         <!--<p>Año de Ingreso:{{Ingreso}} </p>
        <p>Año de Graduación:{{Graduacion}} </p>
        <p>Sede/Extensión:{{Sede}} </p>!-->
    </div>
    </center>
</body>
<script src="{% static 'ID/img/log.js'%}"></script>
</html>